# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes
backup src
.DS_Store
.vscode

# Files generated during github actions
node_modules
package-lock.json
package.json