# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
output
logs
.floo
.flooignore

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes
backup src
.DS_Store
.vscode